#section-2{
    display: grid;
    padding: 200px 100px;
    text-align: left;
    line-height: 1.7;
    font-family: 'Source Sans Pro';
    color: #5C5C5C;
    margin-left: 50px;
    margin-right: 50px;
    background-image: url(/Users/laurenpatrice/Documents/GitHub/Lauren-P-Final-Project/deploy/img/section-2/flower1.png);
    background-repeat: no-repeat;
    margin-top: -1200px;
    
    
}


h1{
    font-size: 48px;
    font-family: 'Lemon Milk';
}